<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">


  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <title>Rock-Paper-Scissors</title>
  <meta name="viewport" content="width=device-width">

  <!-- Google onts CDN -->
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap" rel="stylesheet">

  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

  <!-- Score
  Rules

  You Picked
  The House Picked

  You Win
  You Lose

  Play Again -->

  <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
  <!-- <link rel="stylesheet" href="public/bootstrap/css/bootstrap-grid.css"> -->
  <style>
    .attribution {
      font-size: 11px;
      text-align: center;
      margin-top: 1rem;
      color: #fff;
    }

    .attribution a {
      color:#f5deb3;
    }
  </style>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-social.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
